# /lib/systemd/system/usb-gadget.service

[Unit]
Description=Configure USB RNDIS gadget
# Wait for configfs to be mounted, modules to load, and "network-pre" for any ExecStartPost hooks
Wants=sys-subsystem-configfs.mount
After=systemd-modules-load.service sys-subsystem-configfs.mount network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/usb-gadget.sh

[Install]
WantedBy=multi-user.target

